.transparent {
  background-color: transparent;
}

.torrent-box {
  margin: 4px;
	padding: 0;
	box-shadow: inset 0 1px @theme_base_color, 0 1px 1px alpha(black,0.4);
	border: 1px solid mix(@theme_base_color,@theme_fg_color,0.3);
	border-radius: 5px;
	background-image: none;
	background-color: mix(@theme_base_color,@theme_bg_color,0.3);
}

.torrent-box:hover {
	background-color: @theme_base_color;
}

.torrent-box:backdrop {
	box-shadow: none;
	border-color: @unfocused_borders;
}

.torrent-thumbnail{
	border: 1px solid @borders;
	border-radius: 5px;
}

.dragging{
  box-shadow: 0px 0px 2px 0px #333;
  border: solid black 1px;
}

.drag-hover-top {
  margin-top: 100px;
}

.drag-hover-bottom {
  margin-bottom: 100px;
}